@import 'tailwindcss';

@theme {
    --font-sans: 'Outfit', sans-serif;
    --color-primary: #8b392d;
}

body {
    font-size: var(--text-lg);
    letter-spacing: var(--tracking-tight);
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-slate-100);
}
