---
import { Image } from 'astro:assets';
import avatarImage from '../images/avatar-sm.jpg';
import Navigation from './Navigation.astro';

const showHomeLink = Astro.url.pathname !== '/';
---

<header class="px-4 py-2 sm:p-5">
    <div class="mx-auto flex justify-between items-center gap-5 max-w-(--wrapper-width)">
        {
            showHomeLink && (
                <a href="/" class="flex items-center gap-2 sm:gap-3 p-1 -ml-1 sm:ml-0 rounded-sm">
                    <Image
                        src={avatarImage}
                        alt="Arnelle Balane"
                        class="object-cover object-center rounded-full w-[22px] h-[32px] sm:w-[36px] sm:h-[52px]"
                    />
                    <span class="text-lg sm:text-xl font-bold leading-none text-primary">Arnelle Balane</span>
                </a>
            )
        }

        <div class="ml-auto -mr-1 my-1 sm:mr-0 sm:mb-0 sm:mt-0.5">
            <Navigation />
        </div>
    </div>
</header>
