---
import MenuIcon from '../images/menu.svg';

const links = [
    { text: 'About', href: '/about' },
    { text: 'Writing', href: '/writing' },
    { text: 'Projects', href: '/projects' },
    { text: 'Events', href: '/events' },
];

const getCurrentClass = (href: string) => (Astro.url.pathname.startsWith(href) ? 'text-primary' : undefined);
---

<nav class="hidden sm:flex items-center gap-2">
    {
        links.map(({ text, href }) => (
            <a href={href} class:list={['px-2 py-1 rounded-sm', getCurrentClass(href)]}>
                {text}
            </a>
        ))
    }
</nav>

<button class="block sm:hidden">
    <MenuIcon class="size-8 p-1" />
</button>
