<nav class="flex items-center gap-2 -mr-2">
    <a href="/about" class="px-2 py-1 rounded-sm text-primary">About</a>
    <a href="/about" class="px-2 py-1 rounded-sm">Writing</a>
    <a href="/about" class="px-2 py-1 rounded-sm">Projects</a>
    <a href="/about" class="px-2 py-1 rounded-sm">Events</a>
</nav>
